<!--html-->
<header class="navbar"  [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
     <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
        <div class="navbar-logo">
           <a routerLink="/">Logo</a>
        </div>
        <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
           <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
        </button>
     </div>
     <div fxFlex class="top-navbar">
        <span fxFlex></span>
        <button mat-raised-button color="primary" routerLink="/signup">
          Signup
        </button>

        <button mat-raised-button color="primary" routerLink="/login">
          Login
        </button>

        <button mat-raised-button color="primary" routerLink="/dashboard">
          Dashboard
        </button>


          <br>
          <button mat-raised-button color="primary" (click)="logout()">
              Log out
          </button>
     </div>
  </div>
</header>
